body, html {
    height: 100%;
    margin: 0;
}

#container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

li.selected {
    background-color: white;
}

#search {
    border: black solid 1px;
}

#body {
    flex: 1 1 100px;
}

#body > h1 {
    text-align: center;
    vertical-align: bottom;
    font-size: 250px;
    color: white;
}